@page
@model Product_View_v_2.Views.Home.IndexModel

<link rel="stylesheet" href="/css/Flex.css" />
<h1>Главная</h1>
<div class="flex">
    @foreach (var product in ViewBag.Products)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.img" class="card-img-top" alt="IMAGE">
            <div class="card-body">
                <h5 class="card-title">Модель: @product.model</h5>
                <p class="card-text">@product.description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Категория: @product.category</li>
                <li class="list-group-item">Название: @product.product</li>
                <li class="list-group-item">Цена: @product.price $</li>
                <li class="list-group-item">Продавец: @product.salesman</li>
            </ul>
            <div class="card-body">
                <form method="get" action="/Home/Del">
                    <input type="hidden" name="id" value="@product.id">
                    <input type="submit" value="Удалить"/>
                </form>
                <form method="get" action="/Home/Edit">
                    <input type="hidden" name="id" value="@product.id">
                    <input type="submit" value="Изменить"/>
                </form>
            </div>
        </div>
    }
</div>
